<h3>Series</h3>
<div class="d-flex flex-row justify-content-between">
  <div>
    <p *ngFor="let s of getListColumn(1); let i = index;"
       [style.color] = "i % 2 == 0 ? 'black' : 'blue'">
      • {{s}}
    </p>
  </div>
  <div>
    <p *ngFor="let s of getListColumn(2); let i = index;"
       [style.color] = "i % 2 == 0 ? 'black' : 'blue'">
      • {{s}}
    </p>
  </div>
  <div>
    <p *ngFor="let s of getListColumn(3); let i = index;"
       [style.color] = "i % 2 == 0 ? 'black' : 'blue'">
      • {{s}}
    </p>
  </div>
  <div>
    <p *ngFor="let s of getListColumn(4); let i = index;"
       [style.color] = "i % 2 == 0 ? 'black' : 'blue'">
      • {{s}}
    </p>
  </div>
</div>
